<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
>
<title>Disciplina - Formulário</title>

<div layout:fragment="content">
    <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    <div class="alert alert-primary" th:if="${message != null}" th:text="${message}"></div>
    <div class="card">
        <div class="card-header">
            Disciplina<span th:if="${page != null}" th:text="${page}"></span>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/course/new}" th:object="${course}">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group mb-3">
                    <label class="mb-1" for="code">Código da Disciplina</label>
                    <input class="form-control" id="code" type="text" th:field="*{code}" />
                    <div class="text-danger" th:if="${codeError != null}" th:text="${codeError}"></div>
                    <div class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                    <label class="mb-1 mt-2" for="name">Nome</label>
                    <input class="form-control" id="name" type="text" th:field="*{name}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <button class="btn btn-primary mt-1" type="submit">
                    <span th:if="${button != null}" th:text="${button}"></span>
                </button>
            </form>
        </div>
    </div>
</div>

</html>
